.card {
  background: linear-gradient(45deg, black, transparent);
  border-radius: 12px;
  border: 1px solid var(--border);
  box-shadow: 0 8px 32px rgba(0,0,0,0.12);
  padding: 16px;
}

.card-header {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 10px;
}

.card-body {
  padding: 8px 0 0 0;
}

.card-body.no-pad {
  padding: 0;
}
